__pycache__
*/__pycache__
*/_C.*
dyhead.egg-info/*

results*/*
datasets/*
output*/*
demo/*
extracted_features/*
build/*
corpora/*
.vector_cache/*
BACKUPS/results_before_vega/*

cluster/out/*
wandb/*
.idea/*

Dockerfile
exec_dockerfile.bash
*.zip
*.pth
*.pickle