__pycache__
*/__pycache__
*/_C.*
dyhead.egg-info/*

results*/*
datasets/*
output*/*
demo/*
extracted_features/*
build/*
corpora/*
.vector_cache/*
BACKUPS/results_before_vega/*
BACKUPS/old_exracted_features_before_vega.zip
BACKUPS_CLUSTER_VEGA/*
experiments/*

cluster/out/*
wandb/*
.idea/*

Dockerfile
exec_dockerfile.bash
*.zip
*.pth
*.pickle


# cluster vega
cluster/
cluster_vega/
BACKUPS/BACKUPS_CLUSTER_VEGA/
