__pycache__
*/__pycache__
*/_C.*
dyhead.egg-info/*
Dockerfile
cluster/out/*
wandb/*
results/*
datasets/*
output*/*
demo/*
extracted_features/*
build/*
concept/*.pickle
*.pth
corpora/*
.vector_cache/*
.idea/*
*.zip